{% extends 'base.html' %}
{% block title %}Ajouter/Modifier un bus{% endblock %}
{% block content %}

<div class="modal-content">
        <h2 style="margin:10px;">{% if form.instance.pk %}Modifier{% else %}Ajouter{% endif %} un bus</h2>
    <form method="post" class="form-group">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Enregistrer</button>
    </form>

        <a href="{% url 'dashboard:bus_list' %}" class="btn btn-primary">Retour à la liste des bus</a>
</div>


{% endblock %}

