{% extends 'base.html' %}
{% block title %}Ajouter/Modifier une catégorie{% endblock %}
{% block content %}


<div class="modal-content">
<h2 style="margin:10px;">{% if form.instance.pk %}Modifier{% else %}Ajouter{% endif %} une catégorie</h2>
<form method="post" class="form-group">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Enregistrer</button>
</form>
<a href="{% url 'dashboard:category_list' %}" class="btn btn-primary" >Retour à la liste des catégories</a>
</div>
{% endblock %}
