{% extends 'base.html' %}
{% block title %}Messages de contact{% endblock %}
{% block content %}
<section class="table-section">
    <div class="section-header">
        <h3>Messages de contact</h3>
    </div>
    <div class="table-responsive">
        <table class="data-table">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Email</th>
                    <th>Message</th>
                    <th>Date d'envoi</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for msg in messages %}
                <tr>
                    <td>{{ msg.name }}</td>
                    <td>{{ msg.email }}</td>
                    <td>{{ msg.message }}</td>
                    <td>{{ msg.submitted_at }}</td>
                    <td>
                        <a href="{% url 'dashboard:message_reply' msg.id %}" class="action-btn btn btn-green ">Répondre / Modifier</a>
                        <a href="{% url 'dashboard:message_delete' msg.id %}" class="action-btn btn btn-red" onclick="return confirm('Supprimer ce message ?');">Supprimer</a>
                    </td>
                </tr>
                {% empty %}
                <tr><td colspan="5">Aucun message reçu.</td></tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="{% url 'dashboard:index' %}" class="action-btn btn btn-outline"> Retour au dashboard </a>
</section>
{% endblock %}
